/* App Container */
.App {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100vw;
}

/* Map */
#map {
  width: 100%;
  height: 100%;
}

/* InfoWindow Image Thumbnail */
.thumbnail {
  height: 150px;
  width: 150px;
}

/* Menu Button */
.menuBtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 2rem;
  z-index: 1;
  color: #c3c3c3;
  cursor: pointer;
  background: #000;
  border-radius: 10px;
  width: 8rem;
}
.menuBtn:hover {
  color: #2396cf;
}

/* Sidebar */
.sidebar {
  width: 25%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  display: none;
  background: #000;
  color: #c3c3c3;
}

.sidebar li {
    list-style: none;
    padding: 1rem;
    cursor: pointer;
}
/* Formatting search/filter inputs */
.form {
  height: 10%;
}

input#filter-button,
input#no-filter-button,
input#search-button {
    color: #2396cf;
    background-color: #000;
    border: 0px;
    margin-top: 10px;
    width: 50%;
    height: 2rem;
    font-size: 1rem;
}

input#filter-button:hover,
input#no-filter-button:hover,
input#search-button:hover {
    color: #000;
    background-color: #2396cf;
}

input#filter-field,
input#search-field {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  background-color: #000;
  color: #2396cf;
  border: none;
  border-bottom: 3px solid #2396cf;
}

input#filter-field::placeholder,
input#search-field::placeholder {
  color: #2396cf;
}

/* Location list value formatting */
.locations {
  overflow: auto;
  height: 80%;
}

.location-info {
  font-size: 1rem;
}

.location-info:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #2396cf;
}

.footer {
  z-index: 1;
  bottom: 0;
  left: 0;
  position: absolute;
  font-size: 1rem;
}

.footer a {
  color: #c3c3c3;
}

/* Resize Sidebar if on tablet */
@media screen and (max-width: 800px) {
  .sidebar {
    width: 40%;
  }
}

/* Resize Sidebar and text if on mobile device */
@media screen and (max-width: 400px) {
  .sidebar {
    width: 50%;
  }
  .menuBtn {
    font-size: 1.5rem;
    width: 3rem;
  }
  .menu-text {
    display: none;
  }
  .footer {
    font-size: .6rem;
  }
}
